//inside wrapper container
.container {
  @include insideWrapper;
  
  &--main {
    background-color: blue;
  }
  &--footer {
    background-color: yellow;
  }
}

//containers content
.content {
  @include flex($justify-content: space-around);
  height: 100%;
}

p {
  @include p;
}

// wrappers
.wrapper-header {
  @include wrapper($height: $header-height);
  @include flex;
}

.wrapper-footer {
  @include wrapper(
    $height: $footer-height,
    $background-color: green,
    $bottom: 0
  );
  @include flex;
}

.wrapper-main {
  @include wrapper(
    $top: $header-height,
    $background-color: orange,
    $height: $main-height
  );
  @include flex;
}
