@mixin flex($display: flex, $justify-content: center, $align-items: center) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
}

.header {
  @include flex;
}

.content {
  @include flex($justify-content: space-around);
}
