@mixin headFoot(
  $height: 60px,
  $background-color: red,
  $position: absolute,
  $top: auto,
  $left: 0,
  $right: 0,
  $bottom: auto
) {
  height: $height;
  background-color: $background-color;
  position: $position;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

.header {
  @include headFoot($position: sticky, $top: 0);
}

.footer {
  @include headFoot($background-color: green, $bottom: 0);
}
