@mixin insideWrapper(
  $background-color: purple,
  $height: 100%,
  $max-width: 800px,
  $width: 100%
) {
  background-color: $background-color;
  height: $height;
  max-width: $max-width;
  width: $width;
}
